.title {
    font-family: bold 15px cursive;
}
.caption{
    font-family: 'Lucida Sans';
    font-size: small;
}

.describe{
    font-family: 'Lucida Sans';
    font-size: x-small;
}

.columns {
    columns: 20px 2;
   
    margin: auto;
    width:  50em;
    text-align: justify
 }
h1, h2 {
    text-align: center;
    font-family: cursive;
}

h2{                     
    
    animation: float .1s ease-in-out infinite;
}

h2, .center{
    color: darkblue;
}

p {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    font-weight: 500;
}

body {
    background-image: -webkit-linear-gradient(to bottom right, rgb(6, 11, 12), rgb(63, 66, 66), rgb(89, 90, 90), rgb(137, 141, 141));
    background-image: linear-gradient(to bottom right, rgb(213, 210, 216), rgb(100, 101, 102), rgb(69, 65, 73), rgb(11, 6, 26))
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    /* overflow: hidden; */
    font-size: medium;
}
.jiggle {
    color: rgba(248, 6, 6, 0.719);
    font-size: 150px;
    font: bold cursive;
    font-family: cursive;
    
}

.jiggle span {
    
    display: inline-block;
    animation: float .6s ease-in-out infinite;
}
@keyframes float {
    0%,100% {
        transform: none;
    }
    33% {
        transform: translateY(-1px) rotate(-2deg);
    }
    66% {
        transform: translateY(1px) rotate(2deg);
    }
}
header:hover span {
    animation: bounce .4s;
}
@keyframes bounce {
    0%,100% {
        transform: translate(0);
    }
    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}
span:nth-child(n) {
color: maroon;

text-shadow: 20px 20px 10px black;
}

.jiggle span:nth-child(2) {
    animation-delay: .05s;
}
.jiggle span:nth-child(3) {
    animation-delay: .1s;
}
.jiggle span:nth-child(4) {
    animation-delay: .15s;
}
.jiggle span:nth-child(5) {
    animation-delay: .2s;
}
.jiggle span:nth-child(6) {
    animation-delay: .25s;
}
.jiggle span:nth-child(7) {
    animation-delay: .3s;
}
.jiggle span:nth-child(8) {
    animation-delay: .35s;
}
.jiggle span:nth-child(9) {
    animation-delay: .4s;
}
.jiggle span:nth-child(10) {
    animation-delay: .45s;
}
.jiggle span:nth-child(11) {
    animation-delay: .5s;
}
.jiggle span:nth-child(12) {
    animation-delay: .55s;
}
.jiggle span:nth-child(13) {
    animation-delay: .6s;
}
.jiggle span:nth-child(14) {
    animation-delay: .65s;
}
.jiggle span:nth-child(15) {
    animation-delay: .7s;
}
.jiggle span:nth-child(16) {
    animation-delay: .75s;
}
.jiggle span:nth-child(17) {
    animation-delay: .8s;
}
.jiggle span:nth-child(18) {
    animation-delay: .9s;
}
.jiggle span:nth-child(19) {
    animation-delay: 1.0s;
}
.jiggle span:nth-child(20) {
    animation-delay: 1.05s;
}
